@font-face {
  font-family: "Inter";
  src: url(../../public/fonts/Inter/Inter_18pt-Regular.ttf); 
}

:root{
  /* Font */
  /* --caption-font: "Moret Bold", sans-serif;
  --title-font: "Moret Regular", sans-serif;  */
  --body-font: "Inter", sans-serif;

  --gold: #AD8330; 
  --gold-hover: #95803C;
  --secondary-color: #38726C;
  --tertiary-color: #eee;

  --btn-border-radius: .4rem;

  --body-font-size: 1rem;

  --content-padding: 2.8rem;
  --section-padding: 3rem;
}

*{
  /* margin: 0; 
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; 
  border: none;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; */
  font-family: var(--body-font);
}

/* *::selection{
    background: var(--gold);
    color: #fff;
} */
/* html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    font-size: 80%; 
} */
img{
    max-width: 100%;
    height: auto;
}

.fw-title{
    text-align: left;
    text-transform: capitalize;
    margin-bottom: .5rem !important;
} 
.product-price{
    font-size: 1rem !important;
    font-weight: 500 !important;
    /* color: red !important; */
}
.pi-text{
    padding-top: .9rem !important;
}
.quick-view{
    width: 100%;
}
.quick-view a{
    background: #06a !important;
    width: 100%;
    border-radius: var(--btn-border-radius);
    padding: .5rem 2rem !important;
    font-size: .75rem !important;
}

.header-section, .nav-item, footer{
    background: #024 !important;
}
.logo{
    font-size: 4rem;
    font-weight: bold;
}
.logo a{
    color: white;
}
.header-top{
    background: white;
}
.flex{
    display: flex;
    gap: .5rem
}





/* NAV */
.nav-item{ 
    margin-left: auto; 
}
.nav-menu li a, .logout-btn{
    padding-inline: 1.1rem !important; 
    text-transform: capitalize !important; 
    border: 0 !important;
    font-style: normal !important; 
    font-weight: 500 !important; 
    color: white !important; 
    font-size: 1.13rem !important; 
    line-height: 2rem !important; 
    font-family: var(--nav-font);
}